<p class="inline-mobile">Email: 'hey' at this domain</p>

<div id="small-contact">
  <a href="https://github.com/radiolevity">GitHub</a>
  <a href="https://instagram.com/notafinnsta">Instagram</a>
</div>

<div class="flex">
  <div id="contact">
    <div id="contact-header">
      <div id="email-info">
        <div id="email-address-wrapper">
          <input id="email-address" readonly />
        </div>
        <div id="email-copy">
          <span class="front">
            <span class="icon fas fa-copy"></span>
          </span>
        </div>
      </div>
      <div id="contact-flex">
        <a href="https://github.com/radiolevity" class="contact-button">
          <span class="icon fab fa-github"></span>
          <span>GitHub</span>
        </a>
        <a href="https://instagram.com/notafinnsta" class="contact-button">
          <span class="icon fab fa-instagram"></span>
          <span>Instagram</span>
        </a>
      </div>
    </div>
  </div>
</div>