// === glimmer.css ===

// columns

.container {
  width: 100vw;
  max-width: var(--container-width);
}

.row {
  width: 100%;
  padding: 0 0.6rem;
  margin: 0; 
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.column, .columns {
  display: block;
  padding: 0.6rem; 
  box-sizing: border-box;
  width: 100%;
}

.one     { width: calc(100%*1/12);  }
.two     { width: calc(100%*2/12);  }
.three   { width: calc(100%*3/12);  }
.four    { width: calc(100%*4/12);  }
.five    { width: calc(100%*5/12);  }
.six     { width: calc(100%*6/12);  }
.seven   { width: calc(100%*7/12);  }
.eight   { width: calc(100%*8/12);  }
.nine    { width: calc(100%*9/12);  }
.ten     { width: calc(100%*10/12); }
.eleven  { width: calc(100%*11/12); }
.twelve  { width: calc(100%*12/12); }

// images

.image {
  max-width: 100%;
  max-height: 90vh;
  margin: 2rem auto 4rem;
}