@font-face {
  font-family: "Recursive";
  font-style: oblique 0deg 15deg;
  font-weight: 300 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/recursive/v23/8vIZ7wMr0mhh-RQChyHEH06JlTRq_gukbYr6GEF4a47XWkg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --bg: white;
  --fg: black;
  --light-gray: #ccc;
  --med-light-gray: #aaa;
  --med-gray: #999;
  --med-dark-gray: #777;
  --dark-gray: #333;
  --light-purple: #e4d0ff;
  --purple: #a154ff;
  --dark-purple: #5417a0;
}

::selection {
  background: var(--light-purple);
}

html {
  font-family: "Recursive", sans-serif;
  overflow-x: hidden;
}

content a {
  color: var(--purple);
  text-decoration-thickness: 2px;
  transition: opacity 100ms;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4;
  }
}
